# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Production Build
dist/
build/
frontend/dist/

# Secret Variables
.env
backend/.env
frontend/.env

# Local Logs & System files
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Blueprints & Documents
*.docx
JARVIS_Blueprint_v2.docx

